.galery{
    display: flex;
    flex-direction: column;
    padding:10%;
    .info{
        text-align: center;
        h1{
            color: rgb(6, 42, 6)
        }
        p{
            font-size: 1.2rem;
        }
    }
    .galery-container{
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap:30px 30px ;
       overflow: hidden;
       align-items: center;
    
       img{
        width: 100%;
        border-radius: 12px;
       }
    }
}
.image-modal {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0;
    padding: 0;
    border: none; 
    width: 60%; 

    outline: none;
    img{
        width: 100%;
        z-index: 20;
    }
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@include media-mmd{
    .galery{
        .info{
            p{
                font-size: 1rem;
        }
    }
        padding: 100px 40px;
        .galery-container{
            grid-template-columns: 1fr;
        }
    }
    .image-modal{
        width: 90%; 
    }
}
