.header{
    padding: 25px 100px;
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background: #b69f5b9a; 
    z-index: 2;
    .hamburger{
        display: none;
    }
    .close{
        display: none;
    }
    
}
.logo{
    font-size: 2rem;
}
.nav-bar{
    display: flex;
    gap: 25px;
    font-size: 1.4rem;
    align-items: center;
}
.nav-bar > button {
    color: black;
}

@include media-mmd{
    .header{
        padding: 20px 30px;
        .hamburger{
            display: block;
        }
    }

    .nav-bar{
        position: fixed;
        right: 0;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        left: 40%;
        top: 0;
        bottom: 0;
        z-index: 3;
        justify-content: center;
        background: rgba(57, 57, 49, 0.649);
        transform: translateX(100%); 
        transition: transform 0.4s ease-in-out;
        a{
            color: rgb(243, 237, 225);
        }
        button{
            color: rgb(243, 237, 225);
        }
        .close{
            display: block;
            position: absolute;
            right: 50px;
            top: 50px;
        }
    }
}
.active{
    opacity: 1;
    transform: translateX(0);
    visibility: visible; 
}